.instagram_icon{
margin-right:10px;
}
.navbar-brand{
position: relative;
margin-left:10px;
padding: 10px;
border-left: 1px solid black;
font-family: 'Damion', cursive;
font-size: 20px;

}
.fab fa-instagram fa-2x{
    margin-right: 10px;
}
.searchbar{
    margin-left: 25%;
    align-self: center;
}
.icons{
    margin-left: 20%;
    position: relative;
}
.icons .compass{
    margin: 17px;
}
.icons .user{
    margin: 17px; 
}
.icons .heart{
    margin: 17px;
}
.profile{
    /* margin-right: -500px; */
    align-content: left;
}
.user_id{
    display:inline-block;
    font-size:30px;
    margin-right: 20px;

}
.flexbox1{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: space-between ;
    width:400px;
    height:50px;
}

}
.profile_fix{
    margin-left: 50px;
    border: 1px solid grey;
    border-radius: 15%;
    
}
.new_class{
    padding: 20px 120px !important;

}
.description{
    display: flex;
    justify-content:space-around;
    margin-top: 100px;
}
.setting{
    padding: 0 20px;
}
.flexbox2{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 400px;
    height: 50px;
}
.post{
    margin-right: 40px;
}
.followers{
    margin-right: 40px;
}
.follow{
}
.description_2{
    margin-left: -50px
}
.flexbox3{
    display:flex;
    flex-direction: column;
}
.flexbox4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}   
.flexbox5{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}
.uploads{
    margin-right: 30px;
    max-width: 25%;
    max-height: 25%;
    margin-top: 30px;
}
.navss{
    margin-top: 20px;
}
.nav-item{
    margin:15px;
}
.detail_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px gray;
    margin-bottom: 30px;
    width: 45%;
    margin: 50px auto;
    padding: 20px 0;
}
.detail_image{
    width:70%;
    height:70%;
    margin-top: 30px;
}
.comment_box{
}

@media(max-width:768px){
    .icons{
        margin-left: 20%;
        position: relative;
        font-size: 0.8rem;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .icons .compass{
        margin: 1%;
    }
    .icons .user{
        margin: 1%x; 
    }
    .icons .heart{
        margin: 1%;
    }
    .navbar {
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    .searchbar {
        margin: 0%;
        width: 0%;
    }
    .description_2{
        display : flex;
        flex-direction: column;
        margin-right: 20%;
    }
    .flexbox3{
        display:none;
    }
    .flexbox1{
        display: flex;
        align-items: center;
        width: 80%;
        height:50px;
        justify-content: space-between;
    }
    .profile {
        width: 100px;
        height: 100px;
        margin-left: 20%
    }
    .profi_div {
        display: flex;
        flex-direction: row;
    }
    .flexbox2 {
        width: 60%;
        justify-content: right;
        margin-right: 0%;
        margin-left: 30%;
    }
}

@media(min-width:375px){
    .icons{
        margin-left: 20%;
        position: relative;
        font-size: 0.5rem;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .icons .compass{
        margin: 1%;
    }
    .icons .user{
        margin: 1%x; 
    }
    .icons .heart{
        margin: 1%;
    }
    .navbar {
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 5%;
    }
    .searchbar {
        margin: 0%;
        width: 0%;
    }
    .description_2{
        display : flex;
        flex-direction: column;
        margin-right: 20%;
    }
    .flexbox3{
        display:none;
    }
    .flexbox1{
        display: flex;
        align-items: center;
        width: 80%;
        height:50px;
        justify-content: space-between;
    }
    .profile {
        width: 100px;
        height: 100px;
        margin-left: 20%
    }
    .profi_div {
        display: flex;
        flex-direction: row;
    }
    .flexbox2 {
        width: 60%;
        justify-content: right;
        margin-right: 0%;
        margin-left: 40%;
    }
    .user_id{
        font-size:1.3rem;
        margin-right: 20px;
    }
    .post{
        font-size: 0.8rem;
    }
    .followers{
        font-size: 0.8rem;
    }
    .follow{
        font-size: 0.8rem;
    }
    .nav-item{
        font-size: 0.7rem;
    }
    .setting{
        margin:1%;
        font-size: 0.9rem;
        padding:0%;
    }
    .pictures{
        width:95%;
    }
    .icons{
        display:flex;
        flex-direction: row;
        justify-content: right;
        font-size: 0.8rem;
        margin-left: 40%;
        
    }
    .top_right_icon{
        display:flex;
        flex-direction: row;
        justify-content: left;
        font-size: 0.8rem;
        align-content: center;
        margin-bottom: 20%;
        margin-top: 5%;
    }
    .navbar-brand{
        position: relative;
        margin-left:5px;
        padding: 5px;
    }
    .icons .user{
        margin:0%;
    }
}